<% if(success && success.length) {%> 
    <div class="message success" role="alert">
        <p> ✓ <%= success  %></p>
    </div>
 <% }%> 

 <% if(info && info.length) {%> 
  <div class="message info" role="alert">
    <p><%= info  %></p>
  </div>
  <% } %> 