<% layout('/layouts/boilerplate') -%>
<% block('mediaQueries').append('<link rel="stylesheet" href="/css/mediaqueries.css"/>') %>

  <section id="hero-section">
    <%- include('../partials/form') %> 
    <div class="container brand-quote" role="heading">
      <h1>The Perfect <br/>Get-Away!</h1>
      <p>...let the adventure begin!</p>
    </div>
    
  </section>

  <section id="showcase-section" class="container">
    <h2>A unique booking experience</h2>
    <div id="showcase-container">
      <div class="showcase-item">
        <div class="showcase-svg">
          <svg
            width="50"
            height="50"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M49.4281 0.352816C49.607 0.49949 49.7511 0.684063 49.85 0.893206C49.9489 1.10235 50.0002 1.33084 50 1.56219V45.3122C49.9998 45.6733 49.8745 46.0231 49.6455 46.3023C49.4165 46.5815 49.0978 46.7727 48.7437 46.8434L33.1187 49.9684C32.9166 50.0087 32.7084 50.0087 32.5063 49.9684L17.1875 46.9059L1.86875 49.9684C1.64215 50.0137 1.40833 50.0082 1.18413 49.9522C0.959925 49.8963 0.750925 49.7913 0.572185 49.6448C0.393446 49.4984 0.249417 49.3141 0.150474 49.1053C0.0515318 48.8964 0.00013954 48.6683 0 48.4372L0 4.68719C0.000218069 4.32611 0.125488 3.97625 0.354511 3.69709C0.583533 3.41793 0.902172 3.22671 1.25625 3.15594L16.8813 0.0309413C17.0834 -0.00946721 17.2916 -0.00946721 17.4937 0.0309413L32.8125 3.09344L48.1313 0.0309413C48.3578 -0.0146342 48.5916 -0.00940449 48.8158 0.0462538C49.0401 0.101912 49.2492 0.206614 49.4281 0.352816ZM31.25 5.96844L18.75 3.46844V44.0309L31.25 46.5309V5.96844ZM34.375 46.5309L46.875 44.0309V3.46844L34.375 5.96844V46.5309ZM15.625 44.0309V3.46844L3.125 5.96844V46.5309L15.625 44.0309Z"
              fill="#FF8474"
            />
          </svg>
        </div>
        <h4>Find the perfect place</h4>
        <p>Choose from one of our unique listings with high end amenities.</p>
      </div>
      <div class="showcase-item">
        <div class="showcase-svg">
          <svg
            width="42"
            height="44"
            viewBox="0 0 42 44"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.1063 0.581266C21.9611 0.435756 21.7887 0.320309 21.5989 0.241539C21.409 0.162769 21.2055 0.122223 21 0.122223C20.7945 0.122223 20.591 0.162769 20.4011 0.241539C20.2113 0.320309 20.0389 0.435756 19.8938 0.581266L1.14375 19.3313C0.998746 19.4766 0.883814 19.6492 0.805528 19.839C0.727241 20.0288 0.687135 20.2322 0.687502 20.4375V42.3125C0.687502 42.7269 0.852122 43.1243 1.14515 43.4174C1.43817 43.7104 1.8356 43.875 2.25 43.875H16.3125C16.7269 43.875 17.1243 43.7104 17.4174 43.4174C17.7104 43.1243 17.875 42.7269 17.875 42.3125V29.8125H24.125V42.3125C24.125 42.7269 24.2896 43.1243 24.5826 43.4174C24.8757 43.7104 25.2731 43.875 25.6875 43.875H39.75C40.1644 43.875 40.5618 43.7104 40.8549 43.4174C41.1479 43.1243 41.3125 42.7269 41.3125 42.3125V20.4375C41.3129 20.2322 41.2728 20.0288 41.1945 19.839C41.1162 19.6492 41.0013 19.4766 40.8563 19.3313L36.625 15.1031V4.81252C36.625 4.39812 36.4604 4.00069 36.1674 3.70766C35.8743 3.41464 35.4769 3.25002 35.0625 3.25002H31.9375C31.5231 3.25002 31.1257 3.41464 30.8326 3.70766C30.5396 4.00069 30.375 4.39812 30.375 4.81252V8.85314L22.1063 0.581266ZM3.8125 40.75V21.0844L21 3.89689L38.1875 21.0844V40.75H27.25V28.25C27.25 27.8356 27.0854 27.4382 26.7924 27.1452C26.4993 26.8521 26.1019 26.6875 25.6875 26.6875H16.3125C15.8981 26.6875 15.5007 26.8521 15.2076 27.1452C14.9146 27.4382 14.75 27.8356 14.75 28.25V40.75H3.8125Z"
              fill="#FF8474"
            />
          </svg>
        </div>
        <h4>Home away from home</h4>
        <p
          >Experience the best hospitality while enjoying high end amenities.</p
        >
      </div>
      <div class="showcase-item">
        <div class="showcase-svg">
          <svg
            width="50"
            height="50"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.5 12.8125C24.5457 12.7188 24.6168 12.6398 24.7052 12.5846C24.7936 12.5293 24.8957 12.5 25 12.5C25.1042 12.5 25.2064 12.5293 25.2948 12.5846C25.3832 12.6398 25.4543 12.7188 25.5 12.8125L27.4812 16.8281C27.5209 16.9094 27.5797 16.9797 27.6527 17.0331C27.7257 17.0864 27.8106 17.1212 27.9 17.1344L32.3375 17.7781C32.7906 17.8438 32.975 18.4031 32.6437 18.725L29.4375 21.8531C29.3728 21.9163 29.3245 21.9942 29.2967 22.0803C29.2689 22.1663 29.2625 22.2578 29.2781 22.3469L30.0344 26.7656C30.0513 26.8677 30.0395 26.9724 30.0003 27.0681C29.961 27.1638 29.8958 27.2467 29.8121 27.3074C29.7283 27.3681 29.6293 27.4042 29.5262 27.4117C29.423 27.4193 29.3198 27.3979 29.2281 27.35L25.2594 25.2625C25.1798 25.2209 25.0913 25.1991 25.0015 25.1991C24.9117 25.1991 24.8233 25.2209 24.7437 25.2625L20.775 27.35C20.6834 27.397 20.5806 27.4177 20.4779 27.4098C20.3753 27.4018 20.2768 27.3656 20.1936 27.305C20.1103 27.2444 20.0455 27.1619 20.0064 27.0667C19.9672 26.9715 19.9553 26.8672 19.9719 26.7656L20.7281 22.3469C20.7441 22.2581 20.7382 22.1667 20.7109 22.0807C20.6837 21.9947 20.636 21.9166 20.5719 21.8531L17.3531 18.725C17.2794 18.6526 17.2273 18.5611 17.2026 18.4608C17.178 18.3604 17.1818 18.2552 17.2135 18.1569C17.2453 18.0586 17.3039 17.9711 17.3826 17.9042C17.4614 17.8373 17.5572 17.7936 17.6594 17.7781L22.0969 17.1344C22.1863 17.1212 22.2712 17.0864 22.3441 17.0331C22.4171 16.9797 22.4759 16.9094 22.5156 16.8281L24.5 12.8125Z"
              fill="#FF8474"
            />
            <path
              d="M6.25 6.25C6.25 4.5924 6.90848 3.00269 8.08058 1.83058C9.25268 0.65848 10.8424 0 12.5 0L37.5 0C39.1576 0 40.7473 0.65848 41.9194 1.83058C43.0915 3.00269 43.75 4.5924 43.75 6.25V48.4375C43.7499 48.7201 43.673 48.9974 43.5278 49.2399C43.3825 49.4823 43.1742 49.6808 42.925 49.8142C42.6758 49.9476 42.3951 50.0109 42.1128 49.9974C41.8305 49.9839 41.5572 49.8941 41.3219 49.7375L25 40.9406L8.67812 49.7375C8.44283 49.8941 8.16947 49.9839 7.88716 49.9974C7.60485 50.0109 7.32417 49.9476 7.075 49.8142C6.82583 49.6808 6.61751 49.4823 6.47223 49.2399C6.32695 48.9974 6.25015 48.7201 6.25 48.4375V6.25ZM12.5 3.125C11.6712 3.125 10.8763 3.45424 10.2903 4.04029C9.70424 4.62634 9.375 5.4212 9.375 6.25V45.5187L24.1344 37.7625C24.3908 37.5919 24.692 37.5008 25 37.5008C25.308 37.5008 25.6092 37.5919 25.8656 37.7625L40.625 45.5187V6.25C40.625 5.4212 40.2958 4.62634 39.7097 4.04029C39.1237 3.45424 38.3288 3.125 37.5 3.125H12.5Z"
              fill="#FF8474"
            />
          </svg>
        </div>
        <h4>Easy booking</h4>
        <p>Great customer expeience with fast and secure booking process.</p>
      </div>
    </div>
  </section>

  <section id="gallery" class="container">
       <div class="gallery-img-container">
         <img src="images/pool-house.jpg" alt="pool-house">
         <p>Unique Stays</p>
       </div>
       <div class="gallery-img-container">
         <img src="images/camp.jpg" alt="camp">
         <p>Camps</p>
       </div>
       <div class="gallery-img-container">
         <img src="images/pet.jpg" alt="cute-cat">
         <p>Pet-friendly</p>
       </div>
       <div class="gallery-img-container">
        <img src="images/familly-game.jfif" alt="Exta-rooms">
        <p>Extra rooms</p>
      </div>
  </section>
  <% block('calendar').append('<script src="/scripts/calendar.js"></script>') %>
  <% block('script').append('<script src="/scripts/script.js"></script>') %>