<% layout('/layouts/boilerplate') -%>
<section class="container">
    <form action="/stays" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="location" id="title">
        </div>
        <button>List property</button>
    </form>
</section>  
    <% block('navBar').append('<script src="/js/nav.js"></script>') %>
    <% block('script').append('<script src="/js/script.js"></script>') %>