<% layout('/layouts/boilerplate') -%>
<section class="listing-form__container">
    <h1>Add a listing</h1>
    <form action="/stays" method="POST" class="listing-form" id="add-new_form" spellcheck="false"  novalidate>
        <div class="listing-form__group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="listing-form_input" pattern="^[a-zA-Z0-9\s,.'-]{3,}$" title="Title must contain three or more valid characters" required>
            <small class="validity-feedback"></small>
        </div>
        <div class="listing-form__group">
            <label for="location">Location</label>
            <input type="text" name="location" id="form-location" class="listing-form_input" pattern="^[a-zA-Z0-9\s,.'-]{3,}$" title="Location is not valid" required>
            <small class="validity-feedback"></small>
        </div>
        <div class="listing-form__group">
            <label for="image">Image</label>
            <input type="text" name="image" id="image-url" class="listing-form_input" pattern="^(ftp|http|https):\/\/[^ ']+$" title="Must be a valid url" required>
            <small class="validity-feedback"></small>
        </div>
        <div class="listing-form__group">
            <label for="price">Price</label>
            <div class="dollar-sign">
                <span id="price-label">&dollar;</span>
            </div> 
            <input type="text" name="price" placeholder="0.00" id="price" class="listing-form_input" aria-describedby="price-label" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" title="Must be a valid US price format" required>
            <small class="validity-feedback"></small>
        </div>
        <div class="listing-form__group">
            <label for="description">Description</label>
            <textarea name="description" id="description"  class="listing-form_input textarea"rows="8" pattern="^[a-zA-Z0-9\s,.'-]{3,}$" title="Must contain three or more characters" required></textarea>
            <small class="validity-feedback"></small>
        </div>
        <button class="listing-form__btn">List property</button>
    </form>
</section>  
    <% block('script').append('<script src="/scripts/script.js"></script>') %>